<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
    <h1 class="site-title"><a href="index.html"><em class="fa fa-rocket"></em> Identity Service</a></h1>

    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>

    <ul class="nav nav-pills flex-column sidebar-nav">
        <% if current_user %>
          <%= link_to root_path, class: "nav-link" do %>
            <em class="fa fa-user"></em> Login
          <% end %>
          <li class="nav-item">
            <%= link_to linked_in_path, class: "nav-link #{'disabled' unless current_user.journey['facebook']}", readonly: true do %>
              <em class="fa fa-user"></em> Selfie
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link #{'disabled' unless current_user.journey['selfie']}" do %>
              <em class="fa fa-user"></em> Documento
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link #{'disabled' unless current_user.journey['document']}" do %>
              <em class="fa fa-user"></em> LinkedIn
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link #{'disabled' unless current_user.journey['linkedin']}" do %>
              <em class="fa fa-user"></em> Resultado
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link active" do %>
              <em class="fa fa-user"></em> Login
            <% end %>
          </li>
        <% end %>
    </ul>
    <% if current_user %>
      <%= link_to destroy_user_session_path, method: :delete, class: 'logout-button' do  %>
        <em class="fa fa-power-off"></em> Signout
      <% end %>
    <% end %>
</nav>
